body {
    margin: 0;
    padding: 0 0 0 0;
    color: #000;
    background: #efefef url(img/gray_jean.png);
    font: normal 0.9em/150% helvetica, arial, verdana, sans-serif;
}

::selection {
    background: rgb(81, 196, 197);
    color: #fff;
}

 ::-moz-selection {
    background: rgb(81, 196, 197);
    color: #fff;
}

header h1 {
    text-align: center;
    margin-top: 20px;
}